html {
  font-size: 16px;
}

@media (min-width: 125rem) {
  html {
    font-size: 19px;
  }
}

body {
  font-size: 16px;
  background-color: #1e3c72;
  color: #fafafa;
  font-family: "Roboto", sans-serif;
  background-attachment: fixed;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  animation-name: enter;
  animation-duration: 1200ms;
}

@keyframes enter {
  0% {
    transform: translateY(-5vh);
    opacity: 0;
  }

  10% {
    transform: translateY(-5vh);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 125rem) {
  body {
    font-size: 19px;
  }
}

strong {
  font-weight: 500;
}

small {
  font-size: 13px;
  font-weight: 500;
}

em {
  color: #ccdfff;
}

@media (max-width: 62.5rem) {
  .hideOnMobile {
    display: none !important;
  }
}

.illustration-graphic {
  position: fixed;
  bottom: 0;
  right: 24rem;
  z-index: -100;
}

@media (max-width: 112.5rem) {
  .illustration-graphic {
    right: 6rem;
  }
}

@media (max-width: 62.5rem) {
  .illustration-graphic {
    right: 1.5rem;
  }
}

@media (max-width: 43.75rem) {
  .illustration-graphic {
    transform: scale(0.6);
    transform-origin: bottom right;
  }
}

.main {
  margin-left: 24rem;
  margin-top: 6rem;
  display: flex;
}

@media (max-width: 112.5rem) {
  .main {
    margin-left: 6rem;
  }
}

@media (max-width: 62.5rem) {
  .main {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    flex-flow: column;
  }
}

.profilePicture-wrapper {
  width: 12rem;
  height: 12rem;
  margin-right: 3rem;
  overflow: hidden;
  border: 3px solid #fafafa;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 43.75rem) {
  .profilePicture-wrapper {
    width: 8rem;
    height: 8rem;
  }
}

.profilePicture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 62.5rem) {
  .profilePicture-wrapper {
    margin-bottom: 2rem;
  }
}

.content-wrapper {
  padding-bottom: 7rem;
}

@media (max-width: 62.5rem) {
  .content-wrapper {
    padding-bottom: 4rem;
  }
}

.heading1-text {
  line-height: 100%;
  font-size: 3em;
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #fafafa;
  margin-bottom: 2rem;
}
@media (max-width: 43.75rem) {
  .heading1-text {
    font-size: 1.75em;
    margin-bottom: 1.5rem;
  }
}

.body-text {
  font-size: 1.3125em;
  line-height: 200%;
  font-weight: 300;
  color: #fafafa;
}

@media (max-width: 43.75rem) {
  .body-text {
    font-size: 1em;
  }
}

.intro-text {
  margin-bottom: 2rem;
  width: 37.5rem;
}

@media (max-width: 43.75rem) {
  .intro-text {
    margin-bottom: 1.5rem;
    width: 100%;
  }
}

.contact-group {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 3rem;
}

@media (max-width: 43.75rem) {
  .contact-group {
    flex-flow: column;
    margin-bottom: 2rem;
  }
}

.contactItem {
  height: 3rem;
  width: 50%;
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.contactItem a {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.contactItem a:hover {
  text-decoration-line: underline;
}

@media (max-width: 43.75rem) {
  .contactItem {
    margin-bottom: 0.75rem;
  }
}

.contactItem__icon {
  margin-right: 1rem;
  fill: #fafafa;
}

.contactItem__text {
  font-size: 1.3125em;
  font-weight: 300;
}

@media (max-width: 43.75rem) {
  .contactItem__text {
    font-size: 1em;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  height: 3rem;
  padding: 0 1.5rem;
  color: #ffc83d;
  border: 2px solid #ffc83d;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.04em;
  transition-duration: 150ms;
}

.button:hover {
  color: #000;
  background-color: #ffc83d;
}

.resumeButton {
  margin-bottom: 3rem;
}

@media (max-width: 43.75rem) {
  .resumeButton {
    margin-bottom: 2rem;
  }
}

.divider-graphic {
  border-bottom: 1px solid #90a4ae;
  width: 32rem;
  margin-bottom: 4rem;
}

@media (max-width: 43.75rem) {
  .divider-graphic {
    width: 100%;
    margin-bottom: 3rem;
  }
}

.heading2-text {
  font-family: "Roboto Slab", serif;
  font-size: 1.75rem;
  line-height: 100%;
  color: #fafafa;
  margin-bottom: 3rem;
}

@media (max-width: 43.75rem) {
  .heading2-text {
    font-size: 1.3125rem;
    margin-bottom: 2rem;
  }
}

.archiveItem {
  display: flex;
  width: 32rem;
  margin-bottom: 3rem;
}

.archiveItem--last {
  margin-bottom: 6rem;
}

@media (max-width: 43.75rem) {
  .archiveItem {
    flex-flow: column;
    width: 100%;
  }
}

.archiveItem__image-wrapper {
  width: 12rem;
  height: 9rem;
  overflow: hidden;
  margin-right: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 43.75rem) {
  .archiveItem__image-wrapper {
    width: 100%;
    /* height: 9rem; */
    padding-top: 75%;
    overflow: hidden;
    margin-right: 0;
    position: relative;
    margin-bottom: 1.5rem;
  }
}

.archiveItem__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left !important;
}

@media (max-width: 43.75rem) {
  .archiveItem__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.archiveItem__detail-block {
  flex: 1;
  display: flex;
  flex-flow: column;
  padding-top: 0.25rem;
}

@media (max-width: 43.75rem) {
  .archiveItem__detail-block {
    padding-top: 0;
  }
}

.archiveItem__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.archiveItem__date-text,
.archiveItem__category-text {
  font-weight: 500;
  font-size: 1em;
  line-height: 100%;
  color: #fafafa;
}

.archiveItem__title-text {
  font-weight: 500;
  font-size: 1.3125em;
  line-height: 100%;
  color: #ccdfff;
  margin-bottom: 0.75rem;
}

@media (max-width: 43.75rem) {
  .archiveItem__title-text {
    font-size: 1.1875em;
  }
}

.archiveItem__tags-text {
  font-weight: 500;
  font-size: 1em;
  line-height: 100%;
  color: #fafafa;
}

@media (max-width: 43.75rem) {
  .archiveItem__tags-text {
    margin-bottom: 1.5rem;
  }
}

.archiveItem__button-group {
  margin-top: auto;
}

.archiveItem__button-group * {
  margin-right: 0.5rem;
}

.archiveItem__button {
  display: inline-flex;
  align-items: center;
  height: 3rem;
  padding: 0 1.5rem;
  border: 1px solid #fafafa;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: #fafafa;
  transition-duration: 150ms;
}

.archiveItem__button:hover {
  color: #1e3c72;
  background-color: #fafafa;
}

.testimonial-block {
  font-size: 1.1875em;
}
@media (max-width: 112.5rem) {
  .testimonial-block {
    font-size: 1em;
  }
}

.testimonial-stars {
  margin-bottom: 1rem;
}

.testimonial-text {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  line-height: 150%;
}

.copyright {
  text-align: center;
  font-size: 1.3125em;
  line-height: 100%;
  color: #fafafa;
  opacity: 0.2;
  margin-bottom: 2rem;
}
